<!-- Partial template for the comments. -->

<div class="comments">

    <!-- Iterates through each comment. -->
    {{#each this}}

      <!-- Individual comment section. -->
      <section class="comment">

          <!-- Comment author and date. -->
          <div class="meta">

              {{user.username}} on {{created_at}}

          </div>

          <!-- Comment text. -->
          <div class="text">

              {{comment_text}}

          </div>

      </section>

    {{/each}}
    
</div>