<!-- Main layout for all pages -->

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tech Blog Site</title>
        <link rel="stylesheet" href="../../public/css/style.css">

    </head>

    <body>

        <div class="wrapper">

            <header>

                <h1>

                    <a href="/">Home</a>

                </h1>

                <!-- Navigation links. -->
                <nav>

                    <!-- If the user is logged in, shows the dashboard and logout buttons, else it shows the login button. -->
                    {{#if loggedIn}}

                        <a href="/dashboard">Dashboard</a>
                        <button id="logout" class="btn-no-style logout">Logout</button>

                        {{else}}

                            <a href="/login">Login</a>

                    {{/if}}

                </nav>

            </header>

            <div class="site-row">

                <div class="site-name">

                    <h1>Tech Blog Site</h1>

                </div>

            </div>

            <main>

                <!-- Dynamic content goes here. -->
                {{{ body }}}

            </main>

        </div>

        <!-- If the user is logged in, links the logout script. -->
        {{#if loggedIn}}

            <script src="../../public/js/logout.js"></script>

        {{/if}}

    </body>

</html>