{{!-- TODO: Include the main layout --}}
{{!-- layouts/main --}}

{{!-- Define the main content section --}}
{{#section 'content'}}

  <div class="container">

    <div class="row">

      <div class="col-md-8">

        <h2>Dashboard</h2>
        <h3>Your Blog Posts:</h3>

        {{#if userPosts}}

          <ul class="list-group">

            {{#each userPosts}}

              <li class="list-group-item">

                <h4><a href="/edit-post/{{id}}">{{title}}</a></h4>
                <p>Date Created: {{dateCreated}}</p>

              </li>

            {{/each}}

          </ul>

        {{else}}

          <p>No blog posts available yet.</p>

        {{/if}}

        <a href="/add-post">Add a New Blog Post</a>

      </div>

      <div class="col-md-4">

        <div class="card">

          <div class="card-body">

            <h5 class="card-title">Navigation</h5>

            <ul class="list-group">

              <li class="list-group-item"><a href="/">Homepage</a></li>
              <li class="list-group-item"><a href="/dashboard">Dashboard</a></li>
              <li class="list-group-item"><a href="/logout">Log Out</a></li>

            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>
  
{{/section}}