<!-- Template for the dashboard page. -->
<section class="new-post-section">

    <!-- Button to create a new post. -->
    <button type="submit" class="btn" id="create-new-post">Create new post</button>

</section>

{{#if posts.length}}

  <section>

      <!-- Heading for the dashboard page. -->
      <h2>Dashboard</h2>

      <!-- List of posts. -->
      <ul class="post-list">

          <!-- Loop through each post. -->
          {{#each posts as |post|}}

            <!-- Display each post. -->
            <li>

                <!-- Displays the post information using the postInfo partial. -->
                {{> postInfo post}}

                <!-- Link to edit the post. -->
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Modify this post</a>

            </li>

          {{/each}}

      </ul>

  </section>

{{/if}}

<!-- Script for creating posts. -->
<script src="../public/js/createPost.js"></script>