<!-- Template for the login page. -->

<section class="login-page">

    <!-- Heading for the login page. -->
    <div class="form-heading">

        <h1>Log in</h1>

    </div>

    <!-- User form section. -->
    <div class="form-section">

        <!-- Login form. -->
        <form class="login-form">

            <!-- Username field. -->
            <div>

                <label for="username-login">Username</label>
                <input type="text" class="entry-field" id="username-login" />

            </div>

            <!-- Password field. -->
            <div>

                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />

            </div>

            <!-- Submit button. -->
            <div>

                <button type="submit" class="login-signup-btn">Log in!</button>

            </div>

        </form>

    </div>

    <!-- Link to the sign up page. -->
    <a href="/signup" class="sign-in-link">Sign up instead!</a>

</section>

<!-- Script for the login page. -->
<script src="/js/login.js"></script>