<!-- Template for the sign up page. -->

<section class="sign-in-page">

    <!-- Heading for the sign up form. -->
    <div class="form-heading">

        <h1>Sign up!</h1>

    </div>

    <!-- User form section. -->
    <div class="form-section">

        <!-- Sign up form. -->
        <form class="signup-form">

            <!-- Username field. -->
            <div>

                <label for="username-signup">Enter your username!</label>
                <input type="text" class="entry-field" id="username-signup" />

            </div>

            <!-- Password field. -->
            <div>

                <label for="password-signup">Please select a password</label>
                <input type="password" class="entry-field" id="password-signup" />

            </div>

            <!-- Submit button. -->
            <div>

                <button type="submit" class="login-signup-btn">Sign up!</button>

            </div>

        </form>

    </div>

    <!-- Link to the login page. -->
    <a href="/login" class="login-link">Log in instead!</a>

</section>

<!-- Script for the sign up page. -->
<script src="/js/signup.js"></script>